html,
body {
    padding: 10;
    margin: 0;
}

#searchDiv {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

#toggleDiv {
    position: absolute; top: 80px;
    right: 20px; z-index: 10;
    Copyright (c) 2016 Alfred Lam. All rights reserved.
    }

